
@model University.Models.User

@{
    ViewBag.Title = "Edit";
}
<br /><br /><br />
<h2 style="color:white">Change password</h2>
<label style="color:red" id="ErrorMessage">@TempData["ErrorMessage"]</label>
<label style="color:white" id="SuccessMessage">@TempData["SuccessMessage"]</label>



        <hr />
       @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
            @Html.AntiForgeryToken()
   <table align="left" style="font-weight:bold">
       <tr><td>Old Password</td><td><input type="password" name="OldPassword" /></td></tr>
       <tr><td colspan="2">&nbsp;</td></tr>
       <tr><td>New Password</td><td><input type="password" name="NewPassword" /></td></tr>
       <tr><td colspan="2">&nbsp;</td></tr>
       <tr><td>Confirm Password</td><td><input type="password" name="ConfirmPassword" /></td></tr>
       <tr><td colspan="2">&nbsp;</td></tr>
       <tr><td colspan="2" align="center"><input type="submit" value="   Change   " class="linkEffect" style="border:0" /></td></tr> 
       <tr>
           <td colspan="2" align="left" style="color:white">
               <br />
               @Html.ActionLink("Return to Home", "Home", "Home")




           </td>
       </tr>    
   </table>
}

        

      




