@model University.Models.User

@{
    ViewBag.Title = "Unauthorized";
}


<h1 style="color:#a94442">Error.</h1>
<h2 style="color:#a94442">Your account privilledge is insufficient to view this page.</h2>

