<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Production test-->
    <add key="oidc:authority" value="https://auth.zemenbank.com/auth/realms/test/" />
    <add key="oidc:clientid" value="pvrs_test" />
    <add key="oidc:clientsecret" value="wEsLLfQHFPuMdYbUd8xSM3Phb4QYJg1K" />
    <add key="oidc:redirecturl" value="https://aps1.zemenbank.com/pvrs_test/home/oidccallback" />
    <!--Production zemen-->
    <!--<add key="oidc:authority" value="https://auth.zemenbank.com/auth/realms/zemen/" />
    <add key="oidc:clientid" value="pvrs" />
    <add key="oidc:clientsecret" value="HSPP9v04vcVHHWrOdgQ1I6476KAEPl5D" />
    <add key="oidc:redirecturl" value="https://aps1.zemenbank.com/pvrs_test/home/oidccallback" />-->
    <!--Development-->
    <!--<add key="oidc:authority" value="https://auth.zemenbank.com/auth/realms/test/" />
    <add key="oidc:clientid" value="pvrs_dev" />
    <add key="oidc:clientsecret" value="KwdOfT7mHuWUUfxAi6Zzc5zX0YnYhQ28" />
    <add key="oidc:redirecturl" value="https://localhost:44300/home/oidccallback" />-->
  </appSettings>
  <location path="Views/Margin.cshtml">
    <system.web>
      <globalization uiCulture="en" culture="en-GB" />
      <compilation debug="true" />
      <httpRuntime maxRequestLength="1048576" executionTimeout="36000" requestValidationMode="2.0" requestPathInvalidCharacters="" />
      <pages validateRequest="false" />
      <sessionState timeout="2000" />
      <authentication mode="Forms">
        <forms loginUrl="~/Home/Login" protection="All" timeout="2000" slidingExpiration="true"></forms>
      </authentication>
      <customErrors mode="On"></customErrors>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <pages validateRequest="false" />
    <httpRuntime targetFramework="4.5.1" requestPathInvalidCharacters="" requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" maxRequestLength="1048576" executionTimeout="36000" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache30DayNoParam" duration="2592000" varyByParam="none" noStore="true" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.32.0.0" newVersion="6.32.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.32.0.0" newVersion="6.32.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.32.0.0" newVersion="6.32.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.32.0.0" newVersion="6.32.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="HRISEntities" connectionString="metadata=res://*/Models.HRISModel.csdl|res://*/Models.HRISModel.ssdl|res://*/Models.HRISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S-HOF-APP-001;initial catalog=HRIS_test;integrated security=True;Connect Timeout=1200;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRISConnectionString" connectionString="Data Source=S-HOF-APP-001;Initial Catalog=HRIS_test;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />--><add name="FlexConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.1.149)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=FCUBSPRD)));User ID=zuploadtool;Password=zuploadtool;Provider=OraOLEDB.Oracle" />
    <add name="FlexConnection_test" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.1.133)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=FLEXTEST)));User ID=FCUBSPRD;Password=FCUBSPRD;Provider=OraOLEDB.Oracle" />

    <add name="PESConnectionString" connectionString="Data Source=S-HOF-APP-001;Initial Catalog=pes;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HRISConnectionString" connectionString="Data Source=S-HOF-APP-001;Initial Catalog=HRIS;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />

  <add name="HRISEntities" connectionString="metadata=res://*/Models.HRISModel.csdl|res://*/Models.HRISModel.ssdl|res://*/Models.HRISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S-HOF-APP-001;initial catalog=HRIS;integrated security=True;Connect Timeout=1200;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pesEntities" connectionString="metadata=res://*/Models.PESEntities.csdl|res://*/Models.PESEntities.ssdl|res://*/Models.PESEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S-HOF-APP-001;initial catalog=pes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>